body {
    background-color: rgb(245,245,245);
}
.card{
background-color: darkgrey !important;
}
.list-group{
    background-color: darkgrey !important;
}
.list-group-item{
    background-color: darkgrey;
}